<%= form_with url: "/users/change_password", method: :post, local: false, html: { novalidate: true, class: "row g-3 needs-validation" }, id: "ChangePasswordForm" do |f| %>
  <div id="UpdatePasswordError"></div>
  <div class="row mb-3">
    <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
    <div class="col-md-8 col-lg-9">
      <%= f.password_field :current_password, class: "form-control", required: true %>
      <div class="invalid-feedback">Current Password can't be blank.</div>
    </div>
  </div>

  <div class="row mb-3">
    <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
    <div class="col-md-8 col-lg-9">
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control", required: true %>
      <div class="invalid-feedback"> password can't be blank </div>
    </div>
  </div>

  <div class="row mb-3">
    <label for="passwordConfirmation" class="col-md-4 col-lg-3 col-form-label">Confirm Password</label>
    <div class="col-md-8 col-lg-9">
      <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "form-control", required: true %>
      <div class="invalid-feedback">Password confirmation must match the new password</div>
    </div>
  </div>

  <div class="text-center">
    <%= f.submit "Change Password", class: "btn btn-theme" %>
    <button type="reset" class="btn btn-secondary" id="resetChangePasswordForm" hidden></button>
  </div>
<% end %>


