<div id="new-list-form">
  <%= form_with model: @domain, url:[current_account, @domain] , html: { novalidate: true, class: "g-3 needs-validation" } do |form| %>
    <div class="domainForm">
      <div class="row">
        <div class="col-lg-12">
          <p> Please re-verify the domain after updating it.</p>
          <div class="formContainer mt-0 ml-0">
            <div class="row g-3">
              <div class="col-12">
                <label for="domain_name" class="form-label">Domain Name</label>
                <%= form.text_field :name, class: "form-control", disabled: form.object.persisted?,
                  id: "domain_name", required: true, placeholder: "mail.example.com" ,value: @domain.name %>
                <div class="invalid-feedback">Please enter the domain name.</div>
              </div>
              
              <div class="col-12">
                <div class="form-check">
                    <label for="domain_sending_enabled" class="form-label">Sending Enabled</label>
                    <%= form.check_box :sending_enabled, class: "form-check-input", value: @domain.sending_enabled, id: "domain_sending_enabled" %>
                </div>
              </div>

              <div class="col-12">
                <div class="form-check">
                    <label for="domain_return_path" class="form-label">Return Path Customisation Enabled</label>
                    <%= form.check_box :return_path_enabled, class: "form-check-input", value: @domain.return_path_enabled, id: "domain_return_path" %>
                </div>
              </div>

              <div class="col-12">
                <div class="form-check">
                    <label for="domain_branded_link" class="form-label">Branded Link Enabled</label>
                    <%= form.check_box :branded_link_enabled, class: "form-check-input", value: @domain.branded_link_enabled, id: "domain_branded_link" %>
                </div>
              </div>
              
              <div class="col-12">
                <%= form.submit "Save", class: "btn btn-theme btn-sm float-end p-2"%>
              </div>
            </div>     
        </div>
      </div>  
    </div>
  <% end %>
</div>