<div class="pagetitle">
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item">Content Templates</li>
      <li class="breadcrumb-item active">new</li>
    </ol>
  </nav>
</div>

<section class="section">
  <div class="col-lg-12 col-sm-12">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col mr-auto">
            <h4>New Content Template</h4>
          </div>
          <div class="col col-auto pr-2"></div>
        </div>
      </div>
        <%= form_with model: @content_template, url: [current_account, @content_template], html: { novalidate: true, class: "g-3 needs-validation" } do |form| %>
          <div class="container-fluid contentTemplateForm">
            <div class="row">
              <%= form.hidden_field :folder_id, value: params[:folder_id], id: 'FolderIdSet'%>
              <%= form.hidden_field :owner_id, value: current_user.id %>
              <div class="col-lg-3">
                <div class="formContainer">
                  <div class="row g-3">
                    <div class="col-12">
                      <label for="ctname" class="form-label">Name</label>
                      <%= form.text_field :name, autocomplete: "name", class: "form-control", id: "ctname", required: true, value: params[:name]%>
                      <div class="invalid-feedback">Please enter the name.</div>
                    </div>
                    <div class="col-12">
                      <label for="" class="form-label">Tag Name</label>
                      <%= form.text_field :tag_name, autocomplete: "tag_name", class: "form-control", id: "cttag" %>
                    </div>
                    <div class="col-12">
                      <label for="" class="form-label">Available Images</label>
                      <%= render "content_templates/content_images_formdata", folders: @folders, content_images: @content_image %>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-9">
                <div class="editorContainer">
                  <%= form.text_area :html_part, id: "contentTemplateHtmlPart", required: true%>
                </div>
              </div>
            </div>
          </div>
          <div class="float-end p-3">
            <%= link_to account_content_templates_path(current_account), method: :GET, class: "btn btn-secondary btn-sm"  do %>
              Cancel
            <% end %>
            <%= form.submit "Save", class: "btn btn-theme btn-sm"%>
          </div>
        <% end %>
    </div>
  </div>
</section>

<script>
  ContentTemplateController();
</script>
